#root {
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

input::placeholder {
  text-align: center;
}

.auth-form input::placeholder {
  text-align: left;
}

html, body {
  font-family: 'Quicksand', sans-serif;
  height: auto;
  min-height: 100%;
}

.bg-light {
  background-color: #F1F5F9;
}

.bg-dark {
  background-color: #252528;
}

#background-grid {
  transition: all ease-out 220ms;
  width: 100%;
  z-index: -1;
  position: fixed;
  height: 100vh;
  top: 0;
}


body input {
  background-color: white;
  padding: 0 5px;
  @apply text-black font-bold;
}

body label {
  @apply font-bold;
}

.auth-form {
  position: relative;
}


.circle-button:hover {
  cursor: pointer;
  opacity: 80%;
}

/* FORMS AND MODALS */

.fulcrum-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  top: 50%;
  left: 50%;
  padding: 1vw;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.8);
  width: 35rem;
  @apply rounded-3xl
}

.fulcrum-form input {
  text-align: center;
}

#react-select-3-input {
  text-align: left;
}

.fulcrum-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 50%;
  left: 50%;
  padding: 1vw;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.8);
  width: 35rem;
  @apply rounded-3xl text-white
}

.navbar-fulcrum-logo {
  height: 50px;
}

.toggle-right-shift {
  transform: translateX(150%);
}

.sun-glow {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
}

.moon-shadow {
  box-shadow: 0 0 15px 5px rgba(10, 10, 18, 0.2);
}

@keyframes rainbowGlow {
  0% { box-shadow: 0 0 15px rgba(255, 0, 0, 0.7); }
  14% { box-shadow: 0 0 15px rgba(255, 165, 0, 0.7); }
  28% { box-shadow: 0 0 15px rgba(255, 255, 0, 0.7); }
  42% { box-shadow: 0 0 15px rgba(0, 255, 0, 0.7); }
  57% { box-shadow: 0 0 15px rgba(90, 90, 255, 0.7); }
  71% { box-shadow: 0 0 15px rgba(173, 0, 255, 0.7); }
  85% { box-shadow: 0 0 15px rgba(143, 0, 255, 0.7); }
  100% { box-shadow: 0 0 15px rgba(255, 0, 0, 0.7); }
}

.rgb-glow {
  animation: rainbowGlow 9s infinite alternate;
}

.accessibility-enabled {
  filter: grayscale(100%) contrast(150%) brightness(140%) saturate(380%);
}

.auth-page-container {
  position: relative;
  overflow: hidden;
}


.register-page:before {
  background-image: url("/src/assets/other-assets/register-bg-4.webp");
}

.login-page:before {
  background-image: url("/src/assets/other-assets/login-bg.webp");
}

.auth-page-container::before {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  filter: blur(8px) brightness(60%);
  z-index: -1;
}

@media (max-width: 890px) {
  .auth-header {
    font-size: 3rem;
  }
}

@media (max-width: 670px) {
  .navbar-email {
    display: none;
  }
  .navbar-fulcrum-logo {
    width: 30vw;
    height: auto;
  }
  .auth-page-container {
    @apply flex flex-col
  }
  .auth-page-left-column {
    display: none;
  }
  .auth-page-right-column {
    margin: 0;
  }
  .auth-form {
    width: 75vw;
  }
}