#root {
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


/* GLOBAL */

input::placeholder {
  text-align: center;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  background-image:
          linear-gradient(90deg, rgba(199, 199, 199, 0.4) 1px, transparent 1px),
          linear-gradient(180deg, rgba(199, 199, 199, 0.4) 1px, transparent 1px);
  background-size: 42px 42px;
  filter: drop-shadow(1px 1px 2px grey) invert(0.1);
  overflow: hidden;
}

.background::after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  box-shadow:
          inset -40px 0 40px -15px rgba(141, 141, 141, 0.3),
          inset 40px 0 40px -15px rgba(141, 141, 141, 0.3);
}

body input {
  background-color: white;
  padding: 0 5px;
  @apply text-black font-bold;
}

body label {
  @apply font-bold;
}