.auth-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.auth-page-container::before {
  position: absolute;
  z-index: -1;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  filter: blur(8px) brightness(60%);
}

.register-page:before {
  background-image: url("/static/assets/other-assets/register-bg-cmp.webp");
}

.login-page:before {
  background-image: url("/static/assets/other-assets/login-bg-cmp.webp");
}

.auth-page-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 65vh;
  padding: 0 0 8rem 6rem;
}

.auth-page-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*height: 50vh;*/
  margin-right: 4rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  min-width: 34rem;
  border-radius: 1rem;
}

.auth-label-input-pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  font-size: 0.9rem;
}

.auth-label-input-pair input {
  width: 100%;
  padding: 0.4rem 0.75rem 0.4rem 0.75rem;
  border-radius: 0.4rem;
  border: 1px solid #989ca2;
  margin-top: 2px;
}

.auth-standard-fulcrum-logo,
.auth-mobile-fulcrum-logo {
  user-select: none;
  height: auto;
  margin-bottom: 4rem;
}

.auth-standard-fulcrum-logo {
  width: 20rem;
  margin-bottom: 0;
}

.auth-mobile-fulcrum-logo {
  width: 24rem;
  display: none;
}

.auth-form input::placeholder {
  text-align: left;
}

.auth-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 35vw;
  text-align: left;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  15%,
  45%,
  75% {
    transform: translateX(-8px);
  }
  30%,
  60%,
  90% {
    transform: translateX(8px);
  }
}

input.invalid {
  animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  border-color: red;
}

.oauth-divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}
.oauth-divider::before,
.oauth-divider::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #ccc;
}
.oauth-divider span {
  padding: 0 10px;
  background: white;
}

@media (max-width: 670px) {
  .auth-page-container {
    display: flex;
    flex-direction: column;
  }

  .auth-page-left-column {
    display: none;
  }

  .auth-page-right-column {
    margin-right: 0;
  }

  .auth-form {
    width: 75vw;
  }

  .auth-mobile-fulcrum-logo {
    display: block;
  }
}
