
.auth-page-container {
	@apply flex flex-row justify-around items-center w-[100vw] h-[100vh] relative overflow-hidden
}

.auth-page-container::before {
	position: absolute;
	z-index: -1;
	top: -20px;
	right: -20px;
	bottom: -20px;
	left: -20px;
	content: "";
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	filter: blur(8px) brightness(60%);
}

.register-page:before {
	background-image: url("/src/assets/other-assets/register-bg-4.webp");
}

.login-page:before {
	background-image: url("/src/assets/other-assets/login-bg.webp");
}

.auth-page-left-column {
	@apply flex flex-col justify-center items-start h-[65vh] pl-[10rem] pb-52
}

.auth-page-right-column {
	@apply flex flex-col justify-around items-center h-[35vh] mr-24
}

.auth-form {
	@apply flex flex-col justify-center items-center bg-white text-black px-12 pt-16 pb-8 w-[37vw] rounded-2xl
}

.auth-label-input-pair {
	@apply flex flex-col justify-center items-start w-full
}

.auth-label-input-pair input {
	@apply w-full py-2 px-4 rounded-md border border-gray-400 mt-2
}

.auth-standard-fulcrum-logo {
	@apply select-none w-80 h-auto
}

.auth-mobile-fulcrum-logo {
	@apply select-none w-96 h-auto mb-16 hidden
}

.auth-form input::placeholder {
	@apply text-left
}

.auth-text {
	@apply flex flex-col justify-center items-start h-[100vh] w-[35vw] text-left
}

@media (max-width: 670px) {
	.auth-page-container {
		@apply flex flex-col
	}

	.auth-page-left-column {
		@apply hidden
	}

	.auth-page-right-column {
		@apply mr-0
	}

	.auth-form {
		@apply w-[75vw]
	}

	.auth-mobile-fulcrum-logo {
		@apply block
	}
}
