.circle-button {
    transition: background-color 0.3s ease;
}

.circle-button:hover {
    background-color: #E8E8E8;
    cursor: pointer;
}

.elementsBelowPopUpForm {
    transition: all 0.1s ease-out;
}

.blur {
    filter: blur(5px);
}

input::placeholder {
    text-align: center;
}

.budgetForm {
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    background-color: rgba(0,0,0,0.8);
}

.boxShadow {
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
}

.budgetTile {
    width: 180px;
    height: 250px;
    margin: 25pxg 15px;
}

.addBudgetButton {
    width: 180px;
    height: 250px;
    background: transparent;
    border: black 2px dashed;
    color: black;
    margin: 0 15px;
}


.addBudgetButton:hover {
    background: rgba(222, 222, 222, 0.1);
}

.budget-icon {
    width: 100px;
}

#icon-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 60px;
}

.category-icon-selectable {
    display: flex;
    flex: 0 0 15%;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.category-icon-selectable img {
    width: 40px;
    height: 40px;
}

#group-colour-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 60px;
}

.group-colour-selectable-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
    flex: 0 0 10%;
    width: 65px;
    height: 65px;
}

.group-colour-triangle {
    transition: all 0.1s ease;
    width: 50px;
    height: 43px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.selectedIcon {
    outline: aquamarine solid 2px;
}

.selectedColour {
    width: 68px;
    height: 58px;
    transform: translate(0, -10%)
}

@Media screen and (max-width: 1560px) {
    .category-icon-selectable {
        flex-basis: auto;
    }
}
