/* GLOBAL */

input::placeholder {
    text-align: center;
}


/* EDIT-DELETE BUTTONS */

.circle-button {
    transition: background-color 0.3s ease;
}

.circle-button:hover {
    background-color: #E8E8E8;
    cursor: pointer;
}

/* BACKGROUND BLUR FOCUS EFFECT*/

.elementsBelowPopUpForm {
    transition: all 0.1s ease-out;
}

.blur {
    filter: blur(5px);
}


/* BUDGET FORMS */

.budget-form {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 50%;
    left: 50%;
    padding: 2%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    @apply rounded-3xl text-white
}


.budget-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 50%;
    left: 50%;
    padding: 1%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    @apply rounded-3xl text-white
}

/* BUDGET TILE AND BOX SHADOW EFFECT */

.budget-tile {
    width: 120px;
    height: 160px;
    margin: 0 10px 5px 5px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
}

.budget-name {
    margin: 3px;
}

/* ADD NEW BUDGET BUTTON */

.create-budget-button {
    width: 120px;
    height: 160px;
    background: transparent;
    border: black 2px dashed;
    color: black;
    margin: 0 10px 5px 5px;
}


.create-budget-button:hover {
    background: rgba(222, 222, 222, 0.1);
}

/* GROUP */

.group {
    width: 100%;
    box-shadow: 9px 9px 0 0 rgba(0, 0, 0, 1);
}

/* ADD NEW GROUP BUTTON */

.create-group-button {
    width: 100%;
    padding: 50px 30px 50px 30px;
    background: transparent;
    border: black 2px dashed;
    color: black;
}

.create-group-button:hover {
    background: rgba(222, 222, 222, 0.5);
}


/* BUDGET ICON SELECTOR */

.budget-icon {
    width: 100px;
}

#icon-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 60px;
}

.category-icon-selectable {
    display: flex;
    flex: 0 0 15%;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.category-icon-selectable img {
    width: 40px;
    height: 40px;
}

.selected-icon {
    outline: aquamarine solid 2px;
}


/* GROUP COLOUR SELECTOR */

#group-colour-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

.group-colour-selectable-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
    flex: 0 0 10%;
    width: 65px;
    height: 65px;
}

.group-colour-triangle {
    transition: all 0.1s ease;
    width: 50px;
    height: 43px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.selectedColour {
    width: 68px;
    height: 58px;
    transform: translate(0, -10%)
}


/* MEDIA QUERIES */

@Media screen and (max-width: 1560px) {
    .category-icon-selectable {
        flex-basis: auto;
    }
}

/* ANIMATION */


.fulcrum-animation-container {
    position: relative;
    padding-top: 15%;
    margin-bottom: 10%;
    width: 95vw;
}

.fulcrum-triangle-container {
    position: absolute;
    top: 64%;
    left: 50%;
    width: 12%;
    height: 12%;
    transform: translateX(-50%);
}

.contact-shadow {
    position: absolute;
    left: 50%;
    top: 702%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 18%;
    background-color: black;
    border-radius: 50%;
}

.bowl-shadow-right {
    position: absolute;
    left: 255%;
    top: 702%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 50%;
    transition: all ease-in-out 750ms
}

.bowl-shadow-left {
    position: absolute;
    right: 255.5%;
    top: 702%;
    transform: translate(50%, -50%);
    background-color: black;
    border-radius: 50%;
    transition: all ease-in-out 750ms
}

.rotating-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform-origin: 0 50%;
    transition: all ease-out 500ms;
}

.fulcrum-bowl-left {
    position: absolute;
    top: 275%;
    left: 0.5%;
    transform: translate(-50%, -50%);
    width: 14%;
    transform-origin: top center;
    transition: all ease 1300ms;
}

.fulcrum-bowl-right {
    position: absolute;
    top: 275%;
    left: 99.5%;
    transform: translate(-50%, -50%);
    width: 14%;
    transform-origin: top center;
    transition: all ease 1300ms;
}


