.dotted-line {
    flex-grow: 1;
    margin: 0 25px 0 10px; /* Spacing around the line */
    height: 6px; /* Height of the dotted line */
    background: repeating-linear-gradient(
            to right,
            #000,
            #000 16px, /* Width of each dot */
            transparent 2px,
            transparent 30px /* Space between dots, increase for more space */
    );
}