.dotted-line {
    flex-grow: 1;
    margin: 0 25px 0 15px; /* Spacing around the line */
    height: 6px; /* Height of the dotted line */
    background: repeating-linear-gradient(
            to right,
            black,
            black 16px, /* Width of each dot */
            transparent 2px,
            transparent 30px /* Space between dots, increase for more space */
    );
}

.dotted-line-dark {
    background: repeating-linear-gradient(
            to right,
            white,
            white 16px, /* Width of each dot */
            transparent 2px,
            transparent 30px /* Space between dots, increase for more space */
    );
}

.expense-item {
    transition: all ease-out 250ms;
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 1);
}

.expense-item:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}

.create-expense-button {
    padding: 18px 0 18px 0;
    background: transparent;
    border: black 2px dashed;
    color: black;
}

.create-expense-button:hover {
    background: rgba(155, 216, 182, 0.4);
}


.create-expense-button-dark {
    border: white 2px dashed;
    color: white;
}

.react-date-picker__wrapper {
    color: black;
    background-color: white;
}