
.homepage-navbar-link {
    position: relative;
    padding: 0.2rem 0.2rem;
}

.homepage-navbar-link:after {
    content: "";
    position: absolute;
    background-color: #17423f;
    height: 0.1rem;
    width: 0;
    left: 0;
    bottom: 0;
    transition: width 225ms ease-in-out
}

.homepage-navbar-link:hover:after {
    width: 100%;
}

.homepage-navbar-link:hover {
    color: #27433d;
}

.homepage-number-circle {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: white;
    background-color: black;
    flex-shrink: 0;
    flex-grow: 0;
}

.upper-copy-first-row:after {
    content: "";
    background-color: #282d33;
    width: 1px;
    position: absolute;
    height: 100%;
    left: 113%;
}

.single-tile-container {
    transition: all ease 300ms;
    width: 19vw;
    height: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-copy-animation-tile {
    transition: all ease-out 300ms;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 0 0 #1c1c1c;
}

.single-tile-container:nth-child(2) {
    transition-delay: 150ms;
}

.single-tile-container:nth-child(3) {
    transition-delay: 300ms;
}

.single-tile-container {
    transition: all ease-out 300ms;
}

.hide-tile {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-170%);
}

.show-tile {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

@keyframes tileBlur {
    0% {
        filter: blur(0);
    }
    25% {
        filter: blur(2px);
    }
    85% {
        filter: blur(0);
    }
    100% {
        filter: blur(0);
    }
}

.mid-copy-animation-tile:hover {
    animation: tileBlur ease-in-out 200ms;
    transform: rotate(-5deg) scale(110%);
}

.show-tile:hover .mid-copy-animation-tile {
    box-shadow: 1.1rem 1.1rem 0 0 #1c1c1c;
}

.show-tile > .mid-copy-animation-tile:after {
    position: absolute;
    content: "";
    width: 25%;
    height: 0.1rem;
    background-color: black;
    left: auto;
    bottom: 10%;
}

.show-tile:nth-of-type(3) > .mid-copy-animation-tile:after {
    background-color: white;
}

.homepage-footer > p {
    user-select: none;
}

.homepage-footer > p:hover {
    cursor: pointer;
    color: #1c5b57;
}

@keyframes iconRotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animated-pricing-icon {
    animation: infinite iconRotation 4000ms linear;
    width: 30vw;
}