
.homepage-navbar-link {
    position: relative;
    padding: 0.2rem 0.2rem;
}

.homepage-navbar-link:after {
    content: "";
    position: absolute;
    background-color: #17423f;
    height: 0.1rem;
    width: 0;
    left: 0;
    bottom: 0;
    transition: width 225ms ease-in-out
}

.homepage-navbar-link:hover:after {
    width: 100%;
}

.homepage-navbar-link:hover {
    color: #27433d;
}

.homepage-number-circle {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: white;
    background-color: black;
    flex-shrink: 0;
    flex-grow: 0;
}

.upper-copy-first-row:after {
    content: "";
    background-color: #282d33;
    width: 1px;
    position: absolute;
    height: 100%;
    left: 113%;
}