@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Source Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0 auto;
  text-align: center;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body input,
body textarea {
  background-color: white;
  padding: 0 5px;
  color: black;
  font-weight: bold;
}

body label {
  font-weight: bold;
}

input:focus {
  outline: 3px solid #1c5b57;
}

@keyframes flashToWhite {
  50% {
    color: white;
  }
}

.flash {
  animation: flashToWhite 600ms ease-out;
}

@media (max-width: 3200px) {
  :root {
    font-size: 18px;
  }
}

@media (max-width: 1330px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 1130px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 7px;
  }
}

@keyframes menuSlide {
  0% {
    width: calc(100vw - 14rem);
  }
  100% {
    width: calc(100vw - 5rem);
  }
}
