@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --lever: 240 10% 3.9%;
  }

  .dark {
    /*--background: 240 10% 4.5%;*/
    /*--background: 0 0 12%;*/
    /*--background: 252 7% 14%;*/
    --background: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    /*--primary-foreground: 240 5.9% 10%;*/
    --primary-foreground: 220 5% 12%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --lever: 240 5% 64.9%;
  }
}

@layer base {
  * {
    @apply border-border transition-colors duration-300 ease-out;
  }
  body {
    @apply text-foreground;
  }
}

:root {
  font-family: "Source Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0 auto;
  text-align: center;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body label {
  font-weight: bold;
}

input:focus {
  outline: 3px solid #1c5b57;
}

@keyframes flashToWhite {
  50% {
    color: white;
  }
}

.flash {
  animation: flashToWhite 600ms ease-out;
}

@media (max-width: 3200px) {
  :root {
    font-size: 18px;
  }
}

@media (max-width: 1330px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 1180px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 7px;
  }
}

@keyframes menuSlide {
  0% {
    width: calc(100vw - 14rem);
  }
  100% {
    width: calc(100vw - 5rem);
  }
}

/** {*/
/*  outline: 2px solid red;*/
/*}*/
