@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 3200px) {
  :root {
    font-size: 18px;
  }
}

@media (max-width: 1330px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 1130px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 7px;
  }
}