.settings-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  line-height: 1.75rem;
  text-align: left;
}

.wipe-options {
  justify-content: center;
  gap: 1rem;
}
